{% set FSM_PREFIX = PREFIX.upper() %}
{% set fsm_prefix = FSM_PREFIX.lower() %}
#ifndef __{{fsm_prefix}}_fsm_states_h__
#define __{{fsm_prefix}}_fsm_states_h__

#include <stddef.h>

#define {{FSM_PREFIX}}_FSM_ST_INITIAL_STATE {{FSM_PREFIX}}_FSM_ST_BOOTING

enum {{fsm_prefix}}_fsm_states {
	{{FSM_PREFIX}}_FSM_ST_NULL,

{% for state in states %}
	{{FSM_PREFIX}}_FSM_ST_{{state.upper()}},
{% endfor %}

	{{FSM_PREFIX}}_FSM_ST_NUMBER_OF_STATES
};


{% for state in states %}
extern const struct {{fsm_prefix}}_fsm_state {{fsm_prefix}}_fsm_state_{{state.lower()}};
{% endfor %}

static const struct {{fsm_prefix}}_fsm_state *{{fsm_prefix}}_fsm_states[] = {
	NULL,

{% for state in states %}
	&{{fsm_prefix}}_fsm_state_{{state.lower()}},
{% endfor %}

	NULL,
};

#endif /* __{{fsm_prefix}}_fsm_states_h__ */
