{% set FSM_PREFIX = PREFIX.upper() %}
{% set fsm_prefix = FSM_PREFIX.lower() %}
#include <stddef.h>

#include "{{fsm_prefix}}_fsm.h"

{% for state in states %}
/* {{state.upper()}} */

static struct fsm_event *{{state.lower()}}_enter(struct fsm *fsm)
{
	return NULL;
}

static struct fsm_event *{{state.lower()}}_exit(struct fsm *fsm)
{
	return NULL;
}

static struct fsm_event *{{state.lower()}}_process_event(struct fsm *fsm, struct fsm_event *event)
{
	switch (event->code) {
	{% for event in events %}
	case {{FSM_PREFIX}}_FSM_EV_{{event.Name.upper()}}:
		break;
	{% endfor %}
	}

	return NULL;
}

const struct fsm_state {{fsm_prefix}}_fsm_state_{{state.lower()}} = {
	.name = "{{state}}",
	.code = {{FSM_PREFIX}}_FSM_ST_{{state.upper()}},
	.enter = {{state.lower()}}_enter,
	.exit = {{state.lower()}}_exit,
	.process_event = {{state.lower()}}_process_event,
};


{% endfor %}
